body {
    font-family: 'Roboto', sans-serif;
    background-image: url(R.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
}

.statusBar {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.social {
    margin-left: 20px;
    margin-top: 0;
}

.main {
    max-width: 1024px;
    margin: 0 auto;
    background: transparent 20px;
    background-color: rgba(225, 255, 225, 0.7);
    border-radius: 10px;
}

.profile {
    margin: 18px 0;
    padding-top: 20px;
    font-size: 35px;
    color: black;
}


.profilebox {
    display: flex;
    justify-content: center;
}

.contectbox {
    margin-top: 10px;
    margin-left: 20px;
}

.container {
    height: auto;
    color: black;
    padding-top: 10px;
    
}

.htw-box {
    max-width:120px ;
    max-height: 120px;
    margin-top: 50px;
}

li {
    margin: 0 20px;
    color: black;
}

.htw {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.fs {
    font-size: 18px;
    color: black;
}

.bottonbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.fontsize {
    font-size: 18px;
}
.columm {
    margin: 20px;
    width: 70%;
}

.box {
    width: 95%;
    border-radius: 5px;
    padding: 20px;
    background-color:lightgrey ;
    margin-bottom: 20px;
    height: 400px;
}

.boxheader {
   font-size: 20px;
   margin-bottom: 16px;
}

.img {
    width: 60%;
    height: auto;
    border-radius: 15px;
    margin: 20pxS;
}

.morebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.hideLogo {
    display: none;
}

.buttonBox {
margin: 0 auto;
text-align: center;

}

.button {
    text-align: center;
    background: lightgray;
    padding: 5px;
    border-radius: 10px;
    color: white;
    width: 200px;
    cursor: pointer;
    margin: 20px;
    font-size: 23px;
}
@media (max-width: 767px) {
    .profilebox {
        display: block;
    }
    .htw-box {
        margin: 0 auto;
        padding: 10px;
    }
    .profile {
        margin: 0 auto;
        padding: 0;
    } 
    .bottonbox {
        flex-wrap: wrap;
    }
    .contectbox {
        text-align: center;
    }
    .statusBar {
        display: none;
    }
}
